body {
  font-family: Arial;
  background: #f5f5f5;
}

.app {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
}
